@import '../sass/variables'
    
header
  display: flex
  position: fixed
  top: 0
  align-items: center
  justify-content: space-between
  background: $main-header-color
  width: $header-width
  border-bottom: $header-border
  height: $header-height
  padding: 0 5vw
