$main-body-color: #b2c1d7
$main-header-color: #44519e
$primary-white: #FFF
$border-line-color: #ff0000

$row-margin: 10vw
$header-border: 3px solid $border-line-color
$header-height: 10vh
$header-width: 80vw
$title-font-size: 36px
$main-font-size: 24px

$main-font-weight: 700
$title-font-weight: 900